# Java / Maven
**/target/
*.class
*.jar
*.war
*.log

# Gradle / Android
**/.gradle/
**/build/
**/local.properties

# IDEs
**/.idea/
**/.settings/
**/.project
**/.classpath
**/*.iml

# Git interno
**/.git/

# Sistema
.DS_Store
Thumbs.db